.app {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #ffe0b5,
        #ffcaa4,
        #ffb39c,
        #ff9c9f,
        #ff87ab
    );
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app__highlight {
    color: #f4acb7;
    background: rgba(255, 255, 255, 0.9);
    padding: 2px 4px;
}
